# python
*.pyc
__pycache__/

# vim
*.swp
*.swo

# pip
*.egg-info
*.egg
/build/
/dist/

# virtualenv
/env/

# logfiles
*.log

# testing
.tox/

# coverage
htmlcov/
coverage/
.coverage

# others
*.pot
local_settings.py
.ropeproject/
